{% extends "base.html" %}

{% block title %}datAI{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="jumbotron jumbotron-custom text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Tutorials
                </h1>
                An ensemble of Data Science tutorials!
            </div>
        </div>
    </div>
</div>




 {% endblock %}

 {% block scripts %}
 {{ super() }}


 {% endblock %}